<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<title>Dashboard</title>
		<link rel="stylesheet" href="../assets/css/admin.css" type="text/css" media="screen"/>
		<link rel="icon" href="/assets/images/favicon.png">
	</head>
	<body>

		<header id="header">
			<hgroup>
				<h2 class="section_title" style="padding-left: 15%;">
					<a class="title" href="/admin/home">Dashboard</a>
				</h2>
			</hgroup>
		</header>

		<section id="secondary_bar">
			<div class="user">
				{% for sale in sales %}
					<p>Chiffre d'affaire :
						{{ sale / 100 }}
						€
					</p><br>
				{% endfor %}
			</div>
			<div class="ca">
				{% for  sale_of_the_day in sales_of_day %}
					Chiffre d'affaire du
					{{ "now"|date("m/d/Y") }}
					:
					{{ sale_of_the_day / 100}}
					€
				{%  endfor %}
			</div>


		</section>

		<aside id="sidebar" class="column">
			<br>
			<h3>
				<a href="/admin/allorders">Toutes les commandes</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/admin/showpizza">Pizza</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/admin/allcategory">Categories</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/admin/allcustomer">Clients</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/">Retour a l'accueil</a>
			</h3>
			<ul class="toggle"></ul>
			<h3>
				<a href="/User/logout">Se déconnecter</a>
			</h3>
			<ul class="toggle"></ul>
		</aside>

		<section id="main" class="column">
			<article class="module width_3_quarter">
				<header>
					<h3 class="tabs_involved">Pizza à la carte
						<small style="padding-left:5%">
							<a href="/admin/addpizza">Ajouter</a>
						</small>
					</p>
				</h3>
				<p></p>
			</header>
			<div class="tab_container">
				<div id="tab1" class="tab_content">
					<table class="tablesorter" cellspacing="0">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Catégorie</th>
								<th>Price</th>
								<th>Image</th>
								<th>En ligne</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for pizza in all_pizzas %}
								<tr>
									<td>
										<a href="/admin/detailpizza/{{ pizza.id }}">{{ pizza.name_pizza }}</a>
									</td>
									<td>{{ pizza.name_category}}</td>
									<td>{{ pizza.price / 100 }}€</td>
									<td name="pizza-admin" id="pizza-admin">
										<div class="image" style="width: 100%; height:100%" name="image-detail" id="image-detail"><img class="img_pizza" src="/assets/images/{{ pizza.image }}"></div>
									</td>
									{% if pizza.isActived == true %}
										<td>
											<button type="button" style="background: green" disabled>En ligne</button>
										</td>
									{% elseif pizza.isActived == false %}
										<td>
											<button type="button" style="background: red" disabled>Hors ligne</span>
										</td>
									{% endif %}
									<td>
									<form action="/admin/deletePizza/{{pizza.id}}" method="POST">
										<button style="padding: 5px">Supprimer</button>
									</form>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</article>
		<div class="spacer"></div>
	</body>
</html></section></body></html>
