{% extends 'layout.html.twig' %}
{% block content %}
{# {{session.firstname}}
	{{ dump(session.cart) }} #}
{# {% for  key, value in sessions %}

{# {% for value in session %}
{{value}} #}
{# {% endfor %} #}
{# 	
	{{key}}-
	{{value}}
{#% endfor %} #}
<pre>
	{# {{ dump(session.cart) }} #}
</pre> 
	<main
		class="l-main">
		<!--========== HOME ==========-->
		<section class="home" id="home">
			<div class="home__container bd-container bd-grid">
				<div class="home__data">
					<h1 class="home__title">le nostre pizze</h1>
					<h2 class="home__subtitle">
						Le savoir faire à l’italienne !
						<br/>

					</h2>
					<a href="#menu" class="button letter-spacing-xxl">découvrir</a>
				</div>
				<img src="/assets/images/pizza_acceuil.png" alt="" class="home__img"/>
			</div>
		</section>

		<!--========== SERVICES ==========-->
		<section class="services section bd-container" id="services">
			<span class="section-subtitle">nos</span>
			<h2 class="section-title">points forts</h2>

			<div class="services__container bd-grid">
				<div class="services__content">
					<svg class="services__img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 50 50"><path d="M 26 1 C 21.59375 1 18 4.59375 18 9 C 18 10.855469 18.9375 12.664063 20.21875 14.4375 C 21.5 16.210938 23.15625 17.9375 24.8125 19.46875 C 28.125 22.527344 31.4375 24.8125 31.4375 24.8125 L 32 25.21875 L 32.5625 24.8125 C 32.5625 24.8125 35.878906 22.53125 39.1875 19.46875 C 40.84375 17.9375 42.5 16.207031 43.78125 14.4375 C 45.0625 12.667969 46 10.847656 46 9 C 46 4.59375 42.40625 1 38 1 C 35.578125 1 33.464844 2.136719 32 3.84375 C 30.535156 2.136719 28.421875 1 26 1 Z M 26 3 C 28.191406 3 30.105469 4.1875 31.15625 5.9375 L 32 7.34375 L 32.84375 5.9375 C 33.894531 4.1875 35.808594 3 38 3 C 41.324219 3 44 5.675781 44 9 C 44 10.117188 43.3125 11.648438 42.15625 13.25 C 41 14.851563 39.40625 16.523438 37.8125 18 C 34.90625 20.691406 32.496094 22.367188 32 22.71875 C 31.503906 22.367188 29.09375 20.683594 26.1875 18 C 24.59375 16.527344 23 14.882813 21.84375 13.28125 C 20.6875 11.679688 20 10.132813 20 9 C 20 5.675781 22.675781 3 26 3 Z M 46 26.03125 C 45.03125 26.089844 44.0625 26.53125 43.34375 27.25 L 33.5625 37 L 24.4375 37 L 24.03125 36.59375 L 29.875 35.4375 C 31.367188 35.140625 32.648438 34.007813 32.9375 32.4375 C 33.363281 30.105469 31.539063 28 29.25 28 L 15.3125 28 C 12.925781 28 10.625 28.9375 8.9375 30.625 L 0.28125 39.28125 L -0.40625 40 L 0.28125 40.71875 L 9.28125 49.71875 L 10 50.40625 L 10.71875 49.71875 L 14.125 46.28125 C 14.3125 46.09375 14.546875 46 14.8125 46 L 33.34375 46 C 34.667969 46 35.9375 45.46875 36.875 44.53125 L 48.875 32.53125 C 50.410156 30.996094 50.347656 28.433594 48.71875 26.96875 C 47.9375 26.265625 46.96875 25.972656 46 26.03125 Z M 46.09375 28.03125 C 46.570313 27.996094 47.050781 28.148438 47.40625 28.46875 C 48.207031 29.1875 48.214844 30.378906 47.46875 31.125 L 35.46875 43.125 C 34.90625 43.6875 34.140625 44 33.34375 44 L 14.8125 44 C 14.015625 44 13.28125 44.3125 12.71875 44.875 L 10 47.5625 L 2.4375 40 L 10.375 32.0625 C 11.6875 30.75 13.457031 30 15.3125 30 L 29.25 30 C 30.335938 30 31.179688 30.933594 30.96875 32.09375 C 30.84375 32.773438 30.21875 33.320313 29.46875 33.46875 L 21.8125 35.03125 L 19.96875 35.375 L 21.28125 36.71875 L 23.28125 38.71875 L 23.59375 39 L 34.40625 39 L 34.71875 38.71875 L 44.75 28.65625 C 45.113281 28.292969 45.617188 28.066406 46.09375 28.03125 Z"/></svg>
					<h3 class="services__title">Lorem ipsum</h3>
					<p class="services__description">
						We offer our clients excellent quality services for many years,																																																																																										            with the best and delicious food in the city.
					</p>
				</div>

				<div class="services__content">
					<svg class="services__img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 50 50"><path d="M 24.984375 3 C 24.722656 3.003906 24.472656 3.109375 24.292969 3.296875 L 11.683594 16 L 2.101563 16 C 1.578125 16 1.046875 16.191406 0.667969 16.566406 C 0.289063 16.945313 0.101563 17.476563 0.101563 18 L 0.101563 22 C 0.101563 22.523438 0.289063 23.054688 0.667969 23.433594 C 1.046875 23.808594 1.578125 24 2.101563 24 L 2.257813 24 L 7.640625 41.890625 C 7.648438 41.910156 7.65625 41.929688 7.664063 41.953125 C 8.085938 43.074219 9.15625 44 10.5 44 L 29.878906 44 L 28.980469 42 L 10.5 42 C 10.042969 42 9.714844 41.722656 9.539063 41.25 L 3.957031 22.710938 C 3.828125 22.289063 3.441406 22 3 22 L 2.101563 22 L 2.101563 18 L 37.890625 18 C 38.046875 18.039063 38.210938 18.039063 38.367188 18 L 48.097656 18 L 48.097656 22 L 47.199219 22 C 47.164063 22 47.132813 22 47.097656 22.003906 C 46.632813 22.042969 46.257813 22.402344 46.195313 22.863281 L 44.128906 29.488281 L 46.015625 30.152344 L 47.9375 24 L 48.097656 24 C 48.621094 24 49.152344 23.808594 49.53125 23.433594 C 49.910156 23.054688 50.097656 22.523438 50.097656 22 L 50.097656 18 C 50.097656 17.476563 49.910156 16.945313 49.53125 16.566406 C 49.152344 16.191406 48.621094 16 48.097656 16 L 38.511719 16 L 25.703125 3.289063 C 25.511719 3.101563 25.253906 2.996094 24.984375 3 Z M 25.003906 5.414063 L 35.671875 16 L 14.5 16 Z M 25.105469 25 C 24.757813 24.988281 24.433594 25.152344 24.238281 25.441406 C 24.046875 25.726563 24.015625 26.09375 24.15625 26.410156 L 33.15625 46.410156 C 33.316406 46.761719 33.660156 46.992188 34.046875 47 C 34.433594 47.007813 34.789063 46.792969 34.964844 46.449219 L 37.386719 41.597656 L 43.347656 46.753906 C 43.550781 46.929688 43.816406 47.015625 44.082031 46.996094 C 44.347656 46.976563 44.59375 46.847656 44.765625 46.644531 L 47.863281 42.976563 C 48.039063 42.773438 48.121094 42.507813 48.097656 42.242188 C 48.074219 41.976563 47.945313 41.730469 47.738281 41.5625 L 41.71875 36.566406 L 45.640625 33.816406 C 45.949219 33.601563 46.109375 33.234375 46.058594 32.863281 C 46.007813 32.492188 45.75 32.179688 45.398438 32.058594 L 25.398438 25.058594 C 25.304688 25.023438 25.207031 25.003906 25.105469 25 Z M 26.9375 27.714844 L 42.898438 33.296875 L 39.496094 35.683594 C 39.242188 35.859375 39.082031 36.148438 39.070313 36.460938 C 39.058594 36.769531 39.191406 37.070313 39.429688 37.269531 L 45.6875 42.457031 L 43.890625 44.582031 L 37.722656 39.246094 C 37.488281 39.042969 37.175781 38.960938 36.871094 39.019531 C 36.570313 39.078125 36.3125 39.277344 36.171875 39.550781 L 34.113281 43.667969 Z"/></svg>
					<h3 class="services__title">Click and collect</h3>
					<p class="services__description">
						We offer our clients excellent quality services for many years,																																																																																										            with the best and delicious food in the city.
					</p>
				</div>

				<div class="services__content">
					<svg class="services__img" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewbox="0 0 50 50" fill="#000000"><path d="M 2.8007812 8 C 1.2657812 8 0 9.2657813 0 10.800781 L 0 37 C 0 38.645 1.355 40 3 40 L 7.09375 40 C 7.57075 42.828 10.039 45 13 45 C 15.961 45 18.43025 42.828 18.90625 40 L 34.09375 40 C 34.57075 42.828 37.039 45 40 45 C 42.961 45 45.43025 42.828 45.90625 40 L 47 40 C 47.832 40 48.551031 39.613031 49.082031 39.082031 C 49.613031 38.551031 50 37.832 50 37 L 50 27.402344 C 50 26.277344 49.582219 25.25475 49.199219 24.46875 C 48.812219 23.68775 48.421875 23.123047 48.421875 23.123047 L 48.410156 23.111328 L 44.292969 17.589844 L 44.28125 17.576172 C 43.39525 16.468172 41.973 15 40 15 L 32 15 C 31.641 15 31.309 15.082031 31 15.207031 L 31 10.902344 C 31 9.3013437 29.698656 8 28.097656 8 L 2.8007812 8 z M 2.8007812 10 L 28.097656 10 C 28.499656 10 29 10.500344 29 10.902344 L 29 38 L 18.90625 38 C 18.42925 35.172 15.961 33 13 33 C 10.039 33 7.56975 35.172 7.09375 38 L 3 38 C 2.445 38 2 37.555 2 37 L 2 10.800781 C 2 10.335781 2.3357812 10 2.8007812 10 z M 14.820312 11.210938 C 14.409312 11.157937 14.0075 11.367469 13.8125 11.730469 L 4.7539062 28.632812 C 4.4069062 29.281813 4.4237813 30.043875 4.8007812 30.671875 C 5.2627813 31.442875 6.1367969 31.853188 7.0917969 31.617188 C 7.0917969 31.617187 8.8390312 31.156094 11.207031 30.496094 C 11.593031 31.379094 12.476 32 13.5 32 C 14.879 32 16 30.878 16 29.5 C 16 29.439 15.989516 29.353969 15.978516 29.292969 C 15.973516 29.267969 15.970703 29.233125 15.970703 29.203125 C 16.281703 29.115125 16.653375 29.015781 16.984375 28.925781 L 17 28.921875 L 17 30.5 C 17 31.878 18.121 33 19.5 33 C 20.879 33 22 31.878 22 30.5 L 22.001953 27.53125 C 26.449953 26.27325 26.450672 26.272188 26.513672 25.492188 C 27.046672 18.373188 21.909313 12.100938 14.820312 11.210938 z M 15.240234 13.298828 C 20.715234 14.313828 24.658828 19.144078 24.548828 24.705078 C 24.289573 24.785555 23.445371 25.026262 22.878906 25.191406 C 22.692515 20.236859 19.244153 15.998119 14.439453 14.792969 L 15.240234 13.298828 z M 13.458984 16.623047 C 17.858343 17.475254 21.004039 21.384428 20.878906 25.876953 C 20.342789 26.242803 20 26.859073 20 27.53125 L 20 30.498047 C 20 30.774047 19.775 30.998047 19.5 30.998047 C 19.225 30.998047 19 30.774047 19 30.498047 L 19 28.429688 C 19 27.533687 18.272906 26.804688 17.378906 26.804688 C 17.233906 26.804688 17.088313 26.823328 16.945312 26.861328 L 16.458984 26.994141 C 16.094984 27.092141 15.683563 27.205781 15.351562 27.300781 C 14.250562 27.615781 13.847141 28.650359 13.994141 29.568359 C 13.960141 29.811359 13.752 30 13.5 30 C 13.225 30 13 29.776 13 29.5 C 13 29.363 12.971969 29.227562 12.917969 29.101562 C 12.734969 28.678563 12.100141 28.185875 11.244141 28.421875 C 8.5731406 29.157875 6.5833125 29.683594 6.5703125 29.683594 L 6.5175781 29.576172 L 8.2695312 26.306641 A 2.5 2.5 0 0 0 9.9140625 26.925781 A 2.5 2.5 0 0 0 10.568359 22.015625 L 13.458984 16.623047 z M 32 17 L 36 17 L 36 26 C 36 26.832 36.386969 27.551031 36.917969 28.082031 C 37.448969 28.613031 38.168 29 39 29 L 48 29 L 48 37 C 48 37.168 47.886969 37.448969 47.667969 37.667969 C 47.448969 37.886969 47.168 38 47 38 L 45.90625 38 C 45.42925 35.172 42.961 33 40 33 C 37.039 33 34.56975 35.172 34.09375 38 L 31 38 L 31 18 C 31 17.832 31.113031 17.551031 31.332031 17.332031 C 31.551031 17.113031 31.832 17 32 17 z M 38 17 L 40 17 C 40.828 17 42.00375 17.934219 42.71875 18.824219 L 46.78125 24.273438 C 46.78125 24.273438 47.086344 24.711469 47.402344 25.355469 C 47.656344 25.871469 47.800813 26.472 47.882812 27 L 39 27 C 38.832 27 38.551031 26.886969 38.332031 26.667969 C 38.113031 26.448969 38 26.168 38 26 L 38 17 z M 16.320312 19.90625 A 2.5 2.5 0 0 0 16.320312 24.90625 A 2.5 2.5 0 0 0 16.320312 19.90625 z M 13 35 C 15.223 35 17 36.777 17 39 C 17 41.223 15.223 43 13 43 C 10.777 43 9 41.223 9 39 C 9 36.777 10.777 35 13 35 z M 40 35 C 42.223 35 44 36.777 44 39 C 44 41.223 42.223 43 40 43 C 37.777 43 36 41.223 36 39 C 36 36.777 37.777 35 40 35 z"/></svg>
					<h3 class="services__title">Livraison</h3>
					<p class="services__description">
						We offer our clients excellent quality services for many years,																																																																																										            with the best and delicious food in the city.
					</p>
				</div>
			</div>
		</section>

		<!--========== ABOUT ==========-->
		<section class="about section bd-container" id="about">
			<div class="about__container bd-grid">
				<div class="about__data">
					<span class="section-subtitle about__initial">découvrez</span>
					<h2 class="section-title about__initial">
						Notre histoire
					</h2>
					<p class="about__description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et																																																																																										            anim id est laborum.
					</p>
				</div>

				<img src="/assets/images/pexels-wendy-wei-1546039.jpg" alt="" class="about__img"/>
			</div>
		</section>

		<!--========== MENU ==========-->
		<section class="menu section bd-container" id="menu">
			<span class="section-subtitle">nos</span>
			<h2 class="section-title">pizzas</h2>

			<div class="menu__container bd-grid" id="menu-pizza">
				{% for pizza in pizzas %}
					{% if pizza.isActived == true %}
						<div
							class="menu__content">
							<a href="/home/pizzadetail/{{ pizza.id }}">
								<a href="?add_to_cart=58" class="btn btn-primary">
									{# <img src="/assets/images/pizza_acceuil.png" alt="" class="menu__img"/> #}
									<img src="/assets/images/{{pizza.image}}" alt="" class="menu__img"/>

								</a>
								<h3 class="menu__name">{{pizza.name_pizza}}</h3>
								<span class="menu__detail">{{pizza.description}}</span>
								<span class="menu-detail">
									<em>
										{{pizza.name_category}}
									</em>
								</span>
								<span class="menu__preci">{{pizza.price / 100}}
									€</span>
								{# <a href="/home/addToCart/{{pizza.id}}" class="button menu__button"> #}
								{# TODO ICONE A CHANGER #}

								<a href="/home/index/?addToCart={{pizza.id}}" class="button menu__button">
									<i class="bx bx-cart-alt"></i>
								</a>
							</div>
							{% else %}

						{% endif %}
					{% endfor %}
				</div>


				{# <div class="menu__content">
																	
																	
																			</section>
																	
																			<!--========== CONTACT US ==========-->
																			<section class="contact section bd-container" id="contact">
																				<div class="contact__container bd-grid">
																					<div class="contact__data">
																						<h4 class="section-title contact__initial">Contactez-nous</h4>
																						<p class="contact__description">
																							If you want to reserve a table in our restaurant, contact us and																																																																																									            we will attend you quickly, with our 24/7 chat service.
																						</p>
																					</div>
																	
																					<div class="contact__button">
																						<a href="#" class="button">сontact</a>
																					</div>
																				</div>
																			</section>
																		</main> #}
			
			
			
			
			
			{% if session.role == "" %}
                {% include 'footer.html.twig' %}
            {% elseif session.role == 1 %}
                {% include 'footerAdmin.html.twig' %}
            {% elseif session.role == 0 %}
                {% include 'footer.html.twig' %}
            {% endif %}
			{% endblock %}
